*, ::before, ::after {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

/* Сброс для списков */
ul, ol {
    list-style: none; /* Уберите маркеры и номера */
}

/* Сброс для ссылок */
a {
    text-decoration: none; /* Уберите подчеркивание */
    color: inherit; /* Установите цвет ссылки равным цвету текста */
}

/* Сброс для изображений */
img {
    max-width: 100%; /* Сделайте изображения отзывчивыми */
    height: auto; /* Сохраняйте пропорции */
}

/* Сброс для таблиц */
table {
    border-collapse: collapse; /* Уберите промежутки между ячейками */
}
header{
    position: relative;
    width: 144rem;
    height: 72.4rem;
    gap: 2rem;
}
.home{
    width: 144rem;
    padding: 2rem 0rem 4rem 0rem;
    gap: 10rem;
    background: #E1D4C9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container{
    width: 144rem;
    height: 6rem;
    padding: 0rem 4rem 0rem 4rem;
    display: flex;
    margin-bottom: 2rem;
}
.container_header-menu{
    display: flex;
    width: 136rem;
    height: 6rem;
    max-width: 136rem;
    justify-content: space-between;

}
.logo{
    width: 10rem;
    height: 6rem;
}
nav{
    width: 118rem;
    height: 6rem;
    gap: 4rem;
    display: flex;
}
nav ul {
    width: 118rem;
    height: 6rem;
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: #403F3D;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;

}
.first{
    width:11.7rem;
    height: 2.4rem;
    gap: 0.8rem;

}
body{
    font-family: 'Inter', sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  background: #E1D4C9;
}
html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}
.container_header-menu-button{
    display: flex;
    align-items: center;
}
.container_header-menu-button-img-text{
    width:  7.2rem;
    height: 2.8rem;
    display: flex;
    gap: 0.8rem;
}
.coffee-cup{
    width: 2rem;
    height: 2rem;
}
.menu{
    width: 4.4rem;
    height: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
}
.header-main{
    width: 100%;
    height: 64.4rem;
    border-radius: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* .header-main-info{
    width: 136rem;
    height: 64.4rem;
    max-width: 136rem;
    padding: 10rem 0rem 0rem 0rem;
    gap: 0px;
    border-radius: 4rem 0rem 0rem 0rem;
    
} */
.header-main video{
    width: 100%;
    height: auto;
    position: absolute;
     z-index: 0 
}
.header-main-video{
    width:136rem;
    height: 64.4rem;
    max-width: 136rem;
    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}
.header-main-info{
    display: flex;
    width: 53rem;
    height: 44.4rem;
    flex-direction: column;
    margin: 10rem;
    z-index: 4;
  position: absolute;
}
.header-main-info-text{
    font-size: 72px;
    font-weight: 600;
    line-height: 75.6px;
    text-align: left;
    color:#E1D4C9;
}
.header-main-info span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 7.2rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.05;
    position: relative;
} 
h1{
    color: var(--text-light, #E1D4C9);
  font-feature-settings: 'clig' off, 'liga' off;
  width: 53rem;
  height: 22.8rem;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 4rem;
  position: relative;
  font-family: 'Inter', sans-serif;
}
.menu_o{
    width: 53rem;
    height: 7.2rem;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
    position: relative;
}
.header-main-info-text-button{
    width:20rem;
    height: 6.4rem;
    padding: 2rem 7.8rem 2rem 7.8rem;
    gap: 0.8rem;
    border-radius: 10rem;
    background-color: #E1D4C9;
    display: flex;
}
.menu_first{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #403F3D;
    width: 4.4rem;
    height: 2.4rem;
}
.favorite-coffee{
    width: 144rem;
    height: 79.9rem;
    padding: 0rem 4rem 0rem 4rem;
    display: flex;
}
.favorite-coffee-container{
    display: flex;
    width: 136rem;
    height: 79.9rem;
    max-width: 136rem;
    gap: 4rem;
    flex-direction: column;
}
.coffee-like{
    width: 136rem;
    height: 7.5rem;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    
}
.coffee-like span{
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 75px;
text-align: center;
color: var(--text-accent, #B0907A);
}
.slider{
    width: 136rem;
    height: 68.4rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}
.slider_main{
    width:  136rem;
    height: 64rem;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider_controls{
    height: 0.4rem;
    gap: 1.2rem;
    display: flex;
    justify-content: center;
}
.button-left, .button-right{
    width: 6rem;
    height:6rem;
    gap: 0px;
    border-radius: 10rem;
    border: 0.1rem solid #665F55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-left, .arrow-right{
    width: 2.4rem;
    height: 2.4rem;
    gap: 0px;
    opacity: 0px;
}
.slider-row{
    width: 115.2rem;
    height: 64rem;
    min-width: 48rem;
    max-width: 115.2rem;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
}
.slide1, .slide2, .slide3{
    width: 115.2rem;
    height: 64rem;
    min-width: 48rem;
    max-width: 116.2rem;
    display: flex;
    justify-content: center;
}
.slide1_content{
    width: 48rem;
    height: 64rem;
    max-width: 48rem;
    gap: 2rem;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}
.img_slider1{
    width: 48rem;
    height: 48rem;
}
.slide1_content_text{
    width:48rem;
    height:14rem;
    gap: 1.6rem;
    display: flex;
    flex-direction: column;
}
.slide1_content_text1{
    width: 48rem;
    height: 3rem;
    color: #403F3D;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    
}
.slide1_content_text2{
    width: 48rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
}
.slide1_content_text3{
    width: 48rem;
    height: 3rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    color:#403F3D;
}
.slide2{
    display: none;
}
.slide3{
    display: none;
}
.all{
    width: 100%;
}
.slider_controls span{
    width: 4rem;
    height: 0.4rem;
    border-radius: 10rem;
    background: var(--border-light, #665F55);
}
.about{
    width: 144rem;
    height:132.5rem;
    gap: 4rem;
    display: flex;
}
.about_container{
    width: 136rem;
    height: 132.5rem;
    max-width: 136rem;
    gap: 4rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.about_container_text{
    width: 136rem;
    height: 22.5rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    color: var(--text-dark, #403F3D);
}
.about_container_text span{
    font-size: 6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    color: var(--text-accent, #B0907A);
}
.about_container_images{
    width:136rem;
    height:106rem;
    max-width: 136rem;
    gap: 4rem;
    display:flex;
}
.about_container_images_column1, .about_container_images_column2{
    width:  66rem;
    height: 106rem;
    gap: 4rem;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}
.about1{
    height: 59rem;
    width: 66rem;
    border-radius: 2rem;
}
.about2{
    width: 66rem;
    height: 43rem;
    border-radius: 2rem;
}
.about3{
    width: 66rem;
    height: 43rem;
    gap: 0px;
    border-radius: 2rem;
}
.about4{
    width: 100%;
    max-width: 66rem;
    height: 59rem;
    border-radius: 2rem;
}
.mobile_app{
    width: 144rem;
    height: 63rem;
    gap: 10rem;
    border-radius: 4rem;
    display: flex;
}
.mobile_app_container{
    width:136rem;
    height:63rem;
    max-width: 136rem;
    gap: 10rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.mobile_app_container_offer{
    width: 63rem;
    height: 34.2rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}
.mobile_app_container_offer_text1{
    width: 63rem;
    height: 15rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    color: var(--text-dark, #403F3D);
    letter-spacing: 0.1rem;
}
.mobile_app_container_offer_text1 span{
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    color: var(--text-accent, #B0907A);
    font-style: italic;  
}
.mobile_app_container_offer_text2{
    width: 63rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    color:#403F3D;
}
.mobile_app_container_offer_buttons_ios{
    width:42rem;
    height:6.4rem;
    gap: 2rem;
    display: flex;
}
.mobile_app_container_offer_buttons_ios, .mobile_app_container_offer_buttons_android{
    width: 20rem;
    height: 6.4rem;
    padding: 12px 20px 12px 20px;
    gap: 0.8rem;
    border-radius: 10rem;
    border: 1px solid #665F55;
    display: flex;
}
.apple_icon{
    width: 2.641rem;
    height: 3.165rem;
    margin-top: 0.18rem;
    margin-left: 0.465rem;
    display: flex;
}
.mobile_app_container_offer_buttons_ios_text{
    width:7.8rem;
    height: 4rem;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
}
.mobile_app_container_offer_buttons_ios_text1{
    width: 7.7rem;
    height: 1.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    color: #403F3D;
}
.mobile_app_container_offer_buttons_ios_text2{
    width: 7.8rem;
    height: 2.4rem;
    color: #403F3D;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
}
.mobile_app_container_offer_buttons_android_text2{
    width: 9.2rem;
    height: 2.4rem;
    color: #403F3D;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
    display: flex;
}
.android_icon{
    width: 2.641rem;
    height: 3.165rem;
    margin-top: 0.18rem;
    margin-left: 0.465rem;
    display: flex;
}
.mobile_app_container_offer_buttons{
    width: 42rem;
    height:6.4rem;
    gap: 2rem;
    display: flex;
}
.mobile_app_container_offer_right{
    width: 63rem;
    height: 63rem;
}
footer{
    width: 144rem;
    height: 45rem;
     display: flex;
}
.footer_container{
    width: 136rem;
    height: 45rem;
    max-width: 136rem;
    padding: 10rem;
    gap: 10rem;
    border-radius: 4rem;
    display: flex;
    background: #665F55;
    margin: 0 auto;
    align-items: center;
}
.footer_container_offer{
    width: 53rem;
    height: 25rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}
.footer_container_offer_text{
    width: 53rem;
    height: 15rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    color: #E1D4C9;

}
.footer_container_offer_text span{
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 75px;
    text-align: left;
    color: var(--text-accent, #B0907A);
}
.footer_container_offer_social{
    width: 20.4rem;
    height: 6rem;
    gap: 1.2rem;
    display: flex;
}
.footer-twitter, .footer-instagram, .footer-facebook{
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    border: .1rem solid var(--border-light, #C1B6AD);
    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
}
.footer_container_contacts_info{
    width: 53rem;
    height: 18.6rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}
.footer_container_contacts_info_contacts{
    width: 53rem;
    height: 3rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: left;
    color: #E1D4C9;
}
.footer_container_contacts_info_contacts_main{
    width: 26.2rem;
    height: 11.6rem;
    gap: 1.6rem;
    display: flex;
    flex-direction: column;
}
.pin-alt{
    width: 2rem;
    height: 2rem;
}
.footer_container_contacts_info_contacts_main1{
    width: 18.2rem;
    height: 2.8rem;
    gap: 0.4rem;
    display: flex;
}
.footer_container_contacts_info_contacts_main1_text{
    width: 15.4rem;
    height: 2.4rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
    color:#E1D4C9;
}
.footer_container_contacts_info_contacts_main1_text2{
    width: 17.5rem;
    height: 2.8rem;
    gap: 0.4rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
    color: #E1D4C9;
}
.footer_container_contacts_info_contacts_main2{
    width: 17.5rem;
    height: 2.8rem;
    gap: 0.4rem;
    align-items: center;
    display: flex;
}
.phone{
    width: 2rem;
    height: 2rem;
}
.footer_container_contacts_info_contacts_main3{
    width: 26.2rem;
    height:2.8rem;
    gap: 0.4rem;
    display: flex;
}
.footer_container_contacts_info_contacts_main1_text3{
    width: 23.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
    color: #E1D4C9;
}
.clock{
    width: 2rem;
    height: 2rem;
}